<!DOCTYPE html>

    <html>

        <head>
            <title>Rango Categories</title>
        </head>

        <body>
            <div>
            {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{% url 'rango:page' category.slug page.slug %}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No pages currently in category.</strong>
    {% endif %}
{% else %}
    <p>The specified category does not exist.</p>
{% endif %}
        </body>

</html>